@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

/* BOILERPLATE STYLES  */

:root {
  --bradius: 2rem;

  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-background: hsl(217, 54%, 11%);
  --card-background: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);

  font-family: "Outfit", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--main-background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a,
a:visited {
  font-weight: 600;
  color: var(--cyan);
  text-decoration: none;
}

/* CARD STYLES */

.card {
  color: var(--soft-blue);
  letter-spacing: 0.07rem;

  background-color: var(--card-background);
  border-radius: var(--bradius);
  margin: 1rem;
  padding: 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__image-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--bradius);
  margin-bottom: 2.4rem;
}

.card__main-image {
  width: 100%;
  display: block;
}

.card__view-icon {
  opacity: 0;
  position: absolute;
  width: 6rem;
  height: auto;
  transition: opacity 0.3s ease-in-out;
  z-index: 15;
  cursor: pointer;
}

.card__view-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--cyan);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 10;
}

.card__view-background:hover,
.card__view-icon:hover + .card__view-background {
  opacity: 0.58;
}
.card__image-container:hover .card__view-icon {
  opacity: 1;
}

.card__content {
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 2.2rem;
  color: white;
  font-weight: 400;
  margin-bottom: 0;
  transition: color 0.5s ease-in-out;
  cursor: pointer;
  margin-bottom: 1.2rem;
}

.card__title:hover {
  color: var(--cyan);
}

.card__main-text {
  font-weight: 300;
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

.card__values-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.card__balance,
.card__time-remaining {
  display: flex;
  align-items: center;
}

.card__balance img,
.card__time-remaining img {
  margin: 0;
  margin-right: 0.5rem;
}

.card__balance img {
  width: 1.1rem;
}

.card__time-remaining img {
  width: 1.6rem;
}

.card__balance p,
.card__time-remaining p {
  margin: 0;
  font-size: 1.5rem;
}

.card__balance p {
  color: var(--cyan);
}

hr {
  height: 0.1rem;
  border: none;
  width: 100%;
  color: var(--line-color);
  background-color: var(--line-color);
  margin-bottom: 1.6rem;
}

.card__footer {
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.card__author-image {
  width: 3.5rem;
  border: 0.1rem solid white;
  border-radius: 50%;
  margin-right: 1.6rem;
}

.card__author-link {
  color: white;
  transition: color 0.3s ease-in-out;
}

.card__author-link:hover {
  color: var(--cyan);
}

.attribution {
  margin-top: 2rem;
  text-align: center;
  color: var(--soft-blue);
  font-size: 1.6rem;
  padding-bottom: 10rem;
}

@media screen and (min-width: 400px) {
  body {
    font-size: 5vw;
  }

  .card {
    max-width: 35rem;
  }
}

@media screen and (min-width: 500px) {
  body {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1600px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    margin: 0;
  }
}

@media screen and (max-height: 1000px) {
  body {
    justify-content: flex-start;
  }

  .card {
    margin-top: 2rem;
  }
}
